<md-toolbar [class.mat-elevation-z12]="true" color="primary">
  <div>
    <span>
      <md-icon>forum</md-icon>
      PanCretan Forum
    </span>
    <a md-button routerLink="/home" *ngIf="authService.isAuthenticated()">HOME</a>
    <a md-button routerLink="/forum" *ngIf="authService.isAuthenticated() && role==='chamber'">FORUM STATUS</a>
    <a md-button routerLink="/schedule" *ngIf="authService.isAuthenticated()">SCHEDULE</a>
    <a md-button routerLink="/people" *ngIf="authService.isAuthenticated()">PEOPLE</a>
    <a md-button routerLink="/contact" *ngIf="authService.isAuthenticated()">CONTACT</a>
  </div>
  <div *ngIf="authService.isAuthenticated()">
    <!--<button md-button *ngIf="authService.isAuthenticated()" (click)="signout()">
      LOG OUT
      <md-icon>exit_to_app</md-icon>
    </button>-->
    <button md-icon-button [mdMenuTriggerFor]="menu">
      <img id="user-pic" src={{authService.getPhotoURL()}}>
    </button>
    <md-menu #menu="mdMenu">
      <button md-menu-item (click)="signout()">
        <span>LOG OUT</span>
        <md-icon>exit_to_app</md-icon>
      </button>
    </md-menu>
  </div>
</md-toolbar>
