<md-toolbar color="primary">
  <div>
    <span>
      <!--<md-icon class="icon-20">chat</md-icon>-->
      PanCretan Forum
    </span>
    <a md-button routerLink=".">HOME</a>
    <a md-button routerLink="/forum" *ngIf="role=='chamber'">FORUM STATUS</a>
    <a md-button routerLink="/schedule">SCHEDULE</a>
    <a md-button routerLink="/people">PEOPLE</a>
    <a md-button routerLink="/contact">CONTACT</a>
  </div>
  <!--<button md-button (click)="logout()" *ngIf="authService.isAuthenticated()">-->
  <button md-button (click)="logout()">
    <md-icon>exit_to_app</md-icon>
    Logout
  </button>
</md-toolbar>

<!--<div class="ui menu">
  <div class="header item">
    Pan-Cretan Forum
  </div>
  <a class="item" [routerLink]="['/home']" routerLinkActive="active">
    Forum
  </a>
  <a class="item" *ngIf="role=='chamber'" [routerLink]="['/forum']">
    Forum Status
  </a>
  <a class="item" [routerLink]="['/schedule']" routerLinkActive="active">
    Schedule
  </a>
  <a class="item" [routerLink]="['/people']" routerLinkActive="active">
    People
  </a>
  <a class="item" [routerLink]="['/contact']" routerLinkActive="active">
    Contact
  </a>
  <a class="ui secondary item right" (click)="logout()" *ngIf="authService.isAuthenticated()">
    Logout
  </a>
</div>-->
