<div class="ui middle aligned center aligned grid">
  <div class="column">
    <div class="ui raised segment">
      <h3 id="title" class="ui center aligned header">Registration Form</h3>
      <form class="ui form">
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <input type="text" name="name" [(ngModel)]="model.name" placeholder="Name">
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="mail icon"></i>
            <input type="text" name="mail" [(ngModel)]="model.email" placeholder="E-mail">
          </div>
        </div>
        <div class="inline fields">
          <label for="role">Role:</label>
          <div class="field">
            <div class="ui radio checkbox">
              <input id="MyDiv1" type="radio" name="role" [(ngModel)]="model.role" checked tabindex="0" class="hidden" value="Hotelier">
              <label>Hotelier</label>
            </div>
          </div>
          <div class="field">
            <div class="ui radio checkbox">
              <input id="MyDiv2" type="radio" name="role" [(ngModel)]="model.role" tabindex="0" class="hidden" value="Producer">
              <label>Producer</label>
            </div>
          </div>
        </div>

        <div *ngIf="model.role == 'Hotelier'">
          <div class="field">
            <div class="ui input">
              <input type="text" name="commpany" [(ngModel)]="model.company" placeholder="Hotel">
            </div>
          </div>
        </div>
        <div *ngIf="model.role == 'Producer'">
          <div class="field">
            <div class="ui input">
              <input type="text" name="commpany" [(ngModel)]="model.company" placeholder="Company Name">
            </div>
          </div>
        </div>

        <div class="inline fields">
          <label *ngIf="selectedRole == 'Hotelier'">Interests:</label>
          <label *ngIf="selectedRole == 'Producer'">Produces:</label>

          <div class="ui multiple selection dropdown fluid">
            <input name="interests" [(ngModel)]="model.interests" type="hidden">
            <i class="dropdown icon"></i>
            <div class="default text">Select Interests</div>
            <div class="menu">
              <div *ngFor="let interest of interests">
                <div class="item" data-value="interest">{{interest}}</div>
              </div>
            </div>
          </div>
        </div>
        <button id="enterForumButton" class="ui primary button fluid" type="button">Enter Forum</button>
      </form>
    </div>
  </div>
</div>
