<!--<div class="ui middle aligned center aligned grid">
  <div class="column">
    <div class="ui raised segment">
      <h3 id="title" class="ui center aligned header">Registration Form</h3>
      <form class="ui form">
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <input type="text" name="name" placeholder="Name" value="{{this.authService.getDisplayName()}}" readonly >
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="mail icon"></i>
            <input type="text" name="mail" placeholder="E-mail" value="{{this.authService.getEmail()}}" readonly>
          </div>
        </div>
        <div class="inline fields">
          <label for="role">Role:</label>
          <div class="field">
            <sui-radio-button name="role" value="hotelier" [(ngModel)]="model.role">Hotelier</sui-radio-button>
          </div>
          <div class="field">
            <sui-radio-button name="role" value="producer" [(ngModel)]="model.role">Producer</sui-radio-button>
          </div>
        </div>
        <div class="field" *ngIf="model.role == 'hotelier'">
          <div class="ui left icon input">
            <i class="hotel icon"></i>
            <input type="text" name="company" [(ngModel)]="model.company" placeholder="Hotel Name">
          </div>
        </div>
        <div class="field" *ngIf="model.role == 'producer'">
          <div class="ui left icon input">
            <i class="building icon"></i>
            <input type="text" name="company" [(ngModel)]="model.company" placeholder="Company Name">
          </div>
        </div>
        <div class="field">
          <sui-multi-select class="fluid" name="interests" [(ngModel)]="model.interests" [options]="allInterests" #multiSelect>
            <sui-select-option *ngFor="let option of multiSelect.availableOptions" [value]="option"></sui-select-option>
          </sui-multi-select>
        </div>
        <button id="enterForumButton" class="ui primary button fluid" type="button" (click)="enterForum()">Enter Forum</button>
      </form>
    </div>
  </div>
</div>-->
