<div fxLayout="column" fxLayoutAlign="start center">
  <div id="header" fxLayout="column" fxLayoutAlign="center center">
    <h1>Pan-Cretan Forum</h1>
    <div>
      <span>{{ numOfHoteliers }}</span> Hoteliers and
      <span>{{ numOfProducers }}</span> Producers of Crete gathered to make business
    </div>
  </div>
  <md-card id="formContainer">
    <form fxLayout="column">
      <md-input-container>
        <input mdInput placeholder="Email" />
      </md-input-container>
      <md-input-container>
        <input mdInput placeholder="Password" />
      </md-input-container>
      <button md-raised-button color="accent" (click)="test()">Log In</button>
    </form>
  </md-card>
  <span id="orContainer">or</span>
  <button id="googleLogInButton" md-raised-button (click)="loginGoogle()">Login with Google</button>
</div>
