<div fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="16px">
  <div id="header" fxLayout="column" fxLayoutAlign="center center">
    <h1>Pan-Cretan Forum</h1>
    <div>
      <span>{{ numOfHoteliers }}</span> Hoteliers and
      <span>{{ numOfProducers }}</span> Producers of Crete gathered to make business
    </div>
  </div>
  <md-card>
    <md-card-content id="formContainer">
      <form fxLayout="column">
        <md-input-container>
          <input mdInput placeholder="Email" />
        </md-input-container>
        <md-input-container>
          <input mdInput placeholder="Password" />
        </md-input-container>
      </form>
    </md-card-content>
    <md-card-actions>
      <button md-raised-button fxFlex color="accent" (click)="test()">LOG IN</button>
    </md-card-actions>
  </md-card>
  <span>or</span>
  <button id="googleLogInButton" md-raised-button (click)="loginGoogle()">Login with Google</button>
</div>
