#header {
  text-align: center;
}

#container {
  width: 100%;
  max-width: 500px;
}

#socialButtonsContainer {
}

#googleSignInButton {
  color: white;
  background-color: #dd4b39;
}

#facebookSignInButton {
  color: white;
  background-color: #4867aa;
}

#twitterSignInButton {
  color: white;
  background-color: #1da1f2;
}

