<!--<md-card fxFlex.xs fxFlex.sm="0 0 calc(50% - 16px)" fxFlex.gt-sm="0 0 calc(33.3% - 16px)">-->
<md-card>
  <img md-card-image src="{{image}}">
  <md-card-title>{{title}}</md-card-title>
  <md-card-content>
    <p>{{descr}}</p>
  </md-card-content>
  <md-card-actions>
    <button md-button>ASK A QUESTION</button>
    <button md-button (click)="openCommentsDialog()">COMMENTS</button>
    <div fxFlex></div>
    <button md-icon-button color="accent" (click)="like(!liked)">
      <md-icon class="popularity">{{liked? 'favorite': 'favorite_border'}}</md-icon>
    </button>
    <span id="likesCountSpan" fxFlexAlign="center">{{popularity}}</span>
  </md-card-actions>
</md-card>
