<div class="ui raised card">
  <div class="image">
    <!--<img src="https://semantic-ui.com/images/avatar2/large/matthew.png">-->
    <img src="assets/images/{{image}}">
  </div>
  <div class="content">
    <div class="header">{{title}}</div>
    <div class="description">
      {{descr}}
    </div>
  </div>
  <div class="extra content">
    <span class="right floated like" (click)="like(!liked)">
      <i class="like large icon" [class.red]="liked"></i>
        {{likesCount}}
    </span>
    <a>
      <!--<i class="user icon"></i>-->
      ASK A QUESTION
    </a>
    <!--<a>
      COMMENTS
    </a>-->
  </div>
</div>
