<app-header></app-header>
<div id="mainContent">
  <app-forum-status></app-forum-status>
  <!--<app-login></app-login>-->
  <!--<app-registration></app-registration>-->
  <!--<app-exhibition-table></app-exhibition-table>-->
  <!--<app-people></app-people>-->
  <!--<app-interests [interests]="interests" #inter></app-interests>-->
  <!--<app-exhibition-product></app-exhibition-product>-->
  <!--<app-exhibition-table-card></app-exhibition-table-card>-->

   <!--<app-exhibition-table [producerID]="'uid1'"></app-exhibition-table>-->
   <!--<app-exhibition-table-cards [producerIDs]="['uid1', 'uid2', 'uid3', 'uid3', 'uid3', 'uid3', 'uid3', 'uid3', 'uid3', 'uid3']"></app-exhibition-table-cards>-->

<!--<app-negotiations-table></app-negotiations-table>-->
  <!-- <router-outlet></router-outlet> -->
</div>
