<div fxLayout="column" fxLayoutAlign="center center">
  <div id="container" fxLayout="column" fxLayoutGap="16px">
    <md-card>
      <md-card-title *ngIf="role==='hotelier'">My Schedule</md-card-title>
      <md-card-title *ngIf="role==='producer'">My Schedule</md-card-title>
      <md-card-title *ngIf="role==='chamber'">Arranged Meetings</md-card-title>
      <md-card-content>
        <div id="visualization" #visualization [contextMenu]="myContextMenu" [contextMenuSubject]="clickedMeeting"></div>
        <context-menu #myContextMenu [disabled]="shouldHideMenu(role, clickedMeeting)">
          <ng-template *ngFor="let action of contextMenuActions" contextMenuItem let-item [visible]="action.visible" (execute)="action.click($event.item)">
            {{ action.html() }}
          </ng-template>
        </context-menu>
      </md-card-content>
    </md-card>
  </div>
