<div fxLayout="column" fxLayoutAlign="center center">
  <div id="container" fxLayout="column" fxLayoutGap="16px">
    <md-card>
      <md-card-title>My Schedule</md-card-title>
      <!--<md-card-subtitle>Common Interests:</md-card-subtitle>-->
      <md-card-content>
        <!--<div id="commonInterestsContainer">
            <md-chip-list>
              <md-chip class="chip-space" *ngFor="let ci of commonInterests | async">{{ci.$value}}</md-chip>
            </md-chip-list>
          </div>-->
        <div id="visualization" #visualization></div>
      </md-card-content>
    </md-card>
  </div>
