.today-schedule-title {
  text-align: center;
  font-size: 20px;
  // padding: 5px 2px;
}

.today-schedule-content-text {
  font-size: 13px;
  text-align: center;
}

.attend-btn {
  background-color: #1cdb2e;
  color: #fff;
  cursor: pointer;
  padding: 2px 5px;
  // font-size: 14px;
  position: relative;
  left: 20px;
  bottom: 1px;
}

.attend-btn:hover{
  background-color: #29f23c;
}
