<div fxLayout="column">
  <div class="today-schedule-title">
    <span>Today's Schedule</span>
    <hr>
  </div>
  <div id="meetingsContainer">
    <div class="meeting" *ngFor="let meeting of meetings">
      <div class="today-schedule-content-text">
        <div class="btnContainer">
          <span *ngIf="displayAttendButton(meeting.timestamp)" class="attend-btn" (click)="attendMeeting(meeting.$key)">Attend</span><br>
        </div>
        <div class="time">{{ meeting.timestamp | date:'medium' }}</div>
      </div>
      <div class="name">{{displayOther(meeting)}}</div>
      <hr>
    </div>
  </div>
</div>
