<!--<div class="ui container">
  <h1 id="title" class="ui center aligned header">People</h1>

  <sui-select [(ngModel)]="selectedRole" placeholder="Users" class="fluid">
    <sui-select-option value="Hoteliers"></sui-select-option>
    <sui-select-option value="Producers"></sui-select-option>
  </sui-select>
  <div class="ui relaxed divided list">
    <div class="item" *ngFor="let entry of peopleData">
      <i class="large github middle aligned icon"></i>
      <div class="content">
        <a class="header">{{entry.brandName}}</a>
        <sui-rating class="star" [ngModel]="entry.stars" [maximum]="5" isReadonly="true"></sui-rating>
      </div>
    </div>
  </div>
</div>-->
