/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;

  /*firebase*/
  /*background-color: #cfd8dc;*/

  /*g+*/
  background-color: #eeeeee;
}

md-toolbar-row {
  justify-content: space-between;
}
