/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

@import '~vis/dist/vis.min.css';


body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;

  /*firebase*/
  /*background-color: #cfd8dc;*/

  /*g+*/
  background-color: #eeeeee;
}

md-toolbar-row {
  justify-content: space-between;
}

md-icon{
  &.popularity {
    color: red;
  }
}

.mat-dialog-container {
  font-family: 'Roboto', sans-serif;
  // margin: 0;
  -webkit-font-smoothing: antialiased;

  /*firebase*/
  /*background-color: #cfd8dc;*/

  /*g+*/
  background-color: #eeeeee;
}

/* vis-related custom classes go here */
.vis-item{
  &.occupiedCompleted {
    color: white;
    background-color: #605959;
    border-color: #13d834;
    border-width: 3px;
  }

  &.occupiedPending {
    color: white;
    background-color: #605959;
    border-color: #a64a2b;
    border-width: 3px;
  }

  &.occupiedInterim {
    color: white;
    background-color: #605959;
    border-color: #176aef;
    border-width: 3px;
  }

  &.completed {
    color: white;
    border-color: #13d834;
    border-width: 3px;
  }

  &.pending {
    color: white;
    border-color: #a64a2b;
    border-width: 3px;
  }

   &.interim {
    color: white;
    border-color: #176aef;
    border-width: 3px;
  }
}

/* Context menu style for scheduler */
.ngx-contextmenu .dropdown-menu {
  z-index: 1000;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: 4px;
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
}
.ngx-contextmenu li {
  display: list-item;
}

.ngx-contextmenu a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  color: black;
  white-space: nowrap;
  text-decoration: none;
}
.ngx-contextmenu a:hover {
  background-color: #ebebeb;
}
