<!--<md-card fxFlex.xs fxFlex.sm="0 0 calc(50% - 16px)" fxFlex.gt-sm="0 0 calc(33.3% - 16px)">-->
<md-card>
  <img md-card-image src="/assets/images/{{image}}">
  <md-card-title>{{producerName}}</md-card-title>
  <md-card-content>
    <p>{{descr}}</p>
  </md-card-content>
  <md-card-actions>
    <button md-button (click)="seeProducts()">SEE PRODUCTS</button>
    <div fxFlex></div>
    <md-icon fxFlexAlign="center" class="md-24" [class.popularity]="popularity>0">favorite</md-icon>
    <span id="likesCountSpan" fxFlexAlign="center">{{popularity}}</span>
  </md-card-actions>
</md-card>
